<div class="form-container">
    <h1>Edit your profile</h1>
    <h2>{{errorMessage}}</h2>
    <div class="form">
<form method='POST'>

                <input type="text" name="firstname"><label>First Name</label> 
                <input type="text" name="lastname"><label>Last Name</label> 
                <input type="text" name="email"><label>Email Address</label> 
                <input type="text" name="password"><label>Password</label> 
                <input type="text" name="age"><label>Age</label> 
                <input type="text" name="city"><label>City</label> 
                <input type="text" name="url"><label>Website</label> 
                 {{>csrf}}
                <button> submit </submit>
           
        </form>
         </div>
        </div> 