<div class="form-container">
    <h1>Please log in</h1>
    <h2>{{errorMessage}}</h2>
    <div class="form">
<form method='POST'>
                  
                <input type="text" name="email"><label>Email Address</label> 
                 <input type="text" name="password"><label>Password</label> 
                 {{>csrf}}
                <button> submit </submit>
           
        </form>
         </div>
        </div> 