

<div class="form-container">
    
    <h1>Please sign the petition</h1>
    
    <h2>{{errorMessage}}</h2>
    <div class="form">
<form method='POST'>
            
                <input type="hidden" name="signature"><canvas id="canvas" width="250" height="100"></canvas><label>Sign Here</label>
                <button> submit </submit>
           
        </form>
         </div>
        </div> 
