

<div class="form-container">
    <h1>sign the petition</h1>
    <h2>{{errorMessage}}</h2>
<form method='POST'>
            <div class="form">
                <input type="text" name="firstname"><span>First Name</span> 
                <input type="text" name="lastname"><span>Last Name</span>
                <input type="hidden" name="signature"><canvas id="canvas" width="300" height="100"></canvas><p>Sign Here</p>
                <button> submit </submit>
            </div>     
        </form>
        </div> 
