

<div class="form-container">
    
    
    
    <div class="form">
<h1>Please sign the petition</h1>
        <p class="error">{{errorMessage}}</p>
<form method='POST'>
            
                <input type="hidden" name="signature"><canvas id="canvas" width="250" height="100"></canvas><label>Sign Here</label>
                {{>csrf}}
                <button> submit </submit>
           
        </form>
         </div>
        </div> 

        <div class="main-container">
        <div class="text-container">
          <p class="stop-word">STOP</p>
          <p class="hate-word">HATE</p>
          <p class="racism-word">RACISM</p>
          <p class="bullying-word">BULLYING</p>
          <p class="misogyny-word">MISOGYNY</p>
          <p class="homophobia-word">HOMOPHOBIA</p> 
          <p class="discrimination-word">DISCRIMINATION</p>
        </div>

</div>
