

<div class="form-container">
    <h1>sign the petition</h1>
<form method='POST'>
            <div class="form">
            <h3>oh, something went wrong must be here</h3>
                <input type="text" name="firstname"><span>First Name</span> 
                <input type="text" name="lastname"><span>Last Name</span>
                <input type="hidden" name="sign"><p>Sign Here</p>
                <button> submit </submit>
            </div>     
        </form>
        </div> 
