<div class="form-container">
    <h1>Here you can provide more information about yourself</h1>
    {{!-- <h2>{{errorMessage}}</h2> --}}
    <div class="form">
<form method='POST'>
            
                <input type="text" name="age" placeholder="optional"><label>Age</label> 
                <input type="text" name="city" placeholder="optional"><label>City</label>
                <input type="text" name="url" placeholder="optional"><label>Website</label> 
            {{>csrf}}
                <button> continue </submit>
           
        </form>
         </div>
         
        </div> 

