 {{>header}}

  <div class="main-container">

<div class="form-container">
    
    
    <div class="form">
        <h1>Here you can provide more <br> information about yourself</h1>
        <p class="error">{{errorMessage}}</p>
<form method='POST'>
            
                <input type="text" name="age" placeholder="optional"><label>Age</label> 
                <input type="text" name="city" placeholder="optional"><label>City</label>
                <input type="text" name="url" placeholder="optional"><label>Website</label> 
            {{>csrf}}
                <button> continue </submit>
           
        </form>
         </div>
         
        </div> 

         <div class="main-container">
        <div class="text-container">
          <p class="stop-word">STOP</p>
          <p class="hate-word">HATE</p>
          <p class="racism-word">RACISM</p>
          <p class="bullying-word">BULLYING</p>
          <p class="misogyny-word">MISOGYNY</p>
          <p class="homophobia-word">HOMOPHOBIA</p> 
          <p class="discrimination-word">DISCRIMINATION</p>
        </div>

</div>
</div>

