          <div id="slide-cont">
    
                <img id="menu" class="menu-item" src="menu.png" />
            </div>


             <div class="overlay"></div>
        <div class="side-nav">
            <p id="x">X</p>
          


                
<div class="form-container">

      
   
    <div class="form">
    <h1>Please register</h1>
    <p class="error">{{errorMessage}}<p>

<form method='POST'>
            
                <input type="text" name="firstname"><label>First Name</label> 
                <input type="text" name="lastname"><label>Last Name</label>
                <input type="text" name="email"><label>Email Address</label> 
                 <input type="text" name="password"><label>Password</label> 
                 {{>csrf}}
                <button> submit </submit>
           
        </form>
        
        
         </div>
        <div class="login-txt">
          <h2>Already registered? <h2>Please <a href="/login">log in</a>.</h2></h2>
          </div> 
        </div> 

        </div>
<main>
        <div class="text-container">
          <p class="stop">STOP</p>
          <p class="hate">HATE</p>
        </div>

</main>

<script src="/script2.js"></script>
