<h1>Here are all the people who have signed the petition so far:</h1>


<div>
    {{#rows}}
    {{!-- <p>{{first}} {{last}}</p>  --}}
    {{!-- first and last has to be updated from the registration form --}}
    {{/rows}}
    </div>
