<div class="form-container">

<h1>Thank you for signing!</h1>

{{#rows}}

<h2>Your signature:</h2><div><img src="{{signature}}" alt="signature"/></div>


{{/rows}}



<a href="/petition/signers"><h2>See all {{numOfSigners}} signers</h2></a>

<form method='POST' action='/delete/signature'>
<button class="button-link">delete your signature</button>{{>csrf}}</form>

</div>

 <div class="main-container">
        <div class="text-container">
          <p class="stop-word">STOP</p>
          <p class="hate-word">HATE</p>
          <p class="racism-word">RACISM</p>
          <p class="bullying-word">BULLYING</p>
          <p class="misogyny-word">MISOGYNY</p>
          <p class="homophobia-word">HOMOPHOBIA</p> 
          <p class="discrimination-word">DISCRIMINATION</p>
        </div>

</div>