* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;

    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

input,
canvas,
button {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    color: red;
}

button:active {
    background-color: black;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.no-url {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.form-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-style: italic;
}

.text-container {
    margin: 20px;
}

.stop {
    font-size: 50px;
    margin: 0;
    text-align: right;
}

.hate {
    font-size: 200px;
    text-decoration: line-through;
    text-decoration-color: red;
    margin: 0;
}

.stop-word {
    font-size: 40px;
    margin: 0;
    text-align: right;
}

.hate-word {
    font-size: 60px;
    text-decoration: line-through;
    text-decoration-color: red;
    margin: 0;
    text-align: right;
}

.racism-word {
    font-size: 60px;
    text-decoration: line-through;
    text-decoration-color: red;
    text-align: right;
    margin: 0;
}

.bullying-word {
    font-size: 60px;
    text-decoration: line-through;
    text-decoration-color: red;
    text-align: right;
    margin: 0;
}

.misogyny-word {
    font-size: 60px;
    text-decoration: line-through;
    text-decoration-color: red;
    text-align: right;
    margin: 0;
}

.homophobia-word {
    font-size: 60px;
    text-decoration: line-through;
    text-decoration-color: red;
    text-align: right;
    margin: 0;
}

.discrimination-word {
    font-size: 60px;
    text-decoration: line-through;
    text-decoration-color: red;
    text-align: right;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 5%;
}

.login-txt {
    margin-top: 10px;
}

a {
    color: red;
}

.signers {
    text-align: right;
    margin: 20px;
}

.logout {
    position: absolute;
    left: 91%;
    margin-top: 20px;
}

.b {
    text-decoration: none;
}
